@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    cursor: crosshair;
}

#w-introduction {
    background-color: #016FB9;
    color: 	#ffffff;

    width: 100%;
    height: 100vh;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: easingOpacity 2s ease;

}


.creator-name::first-letter {
    color: #FF9505;
    
}



.creator-name {
    letter-spacing: 2px;
    position: relative;
    animation-delay: 2.1s;
    animation: descendFromSky 2s ease;

    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 5px 5px #353531;

    margin-bottom: 10px;
}

.creator-desc {
    position: relative;
    animation-delay: 4.2s ease;
    animation: easeFromLeft 2s ease;
    text-shadow: 2px 2px rgb(98, 87, 87);

    font-family: 'Raleway', sans-serif;
    font-size: 38px;
}

.scroll-down-button {
    background: none;
    color: white;
    
    width: 400px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;

    position: relative;
    top: 80px;
}

.scroll-down-button:hover {
    background-color: white;
    color: #016FB9;
    
    cursor: pointer;
    font-weight: bold;
}

@keyframes easingOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

@keyframes descendFromSky {
    from {
        top: -100vh;
    }

    to {
        top: 0;
    }
}

@keyframes easeFromLeft {
    from {
        right: -100vw;
    }

    to {
        right: 0;
    }
}